name: "Inquire API CI+CD"
run-name: ${{ github.run_number }} [${{ github.actor }}] on ${{ github.ref_name }}

on:
  pull_request:
    paths:
      - 'inquire_api'
    branches:
      - '**' # This wildcard matches all branch names
  push:
    branches:
      - main
  workflow_dispatch:

permissions: {}

jobs:
  CICD_Workflow:
    name: "CI+CD Workflow"

    permissions:
      contents: write

    uses: ./.github/workflows/CICD_impl.yml

    with:
      # These values can be customized for your specific requirements.
      tests_path: "inquire_api/tests"
      operating_system_json_string: "[ 'ubuntu-latest' ]"
      python_version_json_string: "['3.11']"
      python_package_version: "3.11"
      coverage_badge_gist_id: "521b537b3503957227f91dfb3db59065"
      coverage_badge_gist_username: "gt-sse-center"

    secrets:
      # These values should be populated as GitHub Action secrets (https://github.com/gt-sse-center/iNatInqPerf/settings/secrets/actions)
      MINISIGN_PRIVATE_KEY: ${{ secrets.MINISIGN_PRIVATE_KEY }}
      PYPI_PUBLISH_TOKEN: ${{ secrets.PYPI_PUBLISH_TOKEN }}
      COVERAGE_BADGE_GIST_TOKEN: ${{ secrets.COVERAGE_BADGE_GIST_TOKEN }}
